/.claude
/.cursorignore
/.mcp-auth
/.mcp.json
/.serena
/CLAUDE.md
/data
/vendor
coverprofile.out
*.test
/.mcp-*
/.update-logs/
/.dark-factory.lock
/.dark-factory.log
/prompts/log
/specs/log
/teamvault-config-dir-generator
/teamvault-config-parser
/teamvault-file
/teamvault-login
/teamvault-password
/teamvault-url
/teamvault-username
